flows/Auto_Follow_New_Users-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>All_Details_into_one_Collection_Variable</name>
        <label>All Details into one Collection Variable</label>
        <locationX>790</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>MassFollow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FollowerDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_UserId_one_by_one</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_follower_detail</name>
        <label>Set follower detail</label>
        <locationX>788</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>FollowerDetail.ParentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowerDetail.SubscriberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Details_into_one_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Auto Follow New Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Follow New Users</label>
    <loops>
        <name>Extract_UserId_one_by_one</name>
        <label>Extract UserId one by one</label>
        <locationX>549</locationX>
        <locationY>165</locationY>
        <assignNextValueToReference>UserID</assignNextValueToReference>
        <collectionReference>UsersID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_follower_detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Auto_Follow_New_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Auto_Follow_New_Users</name>
        <label>Auto Follow New Users</label>
        <locationX>549</locationX>
        <locationY>316</locationY>
        <inputReference>MassFollow</inputReference>
    </recordCreates>
    <recordLookups>
        <name>System_Administrators_UserID</name>
        <label>System Administrators UserID</label>
        <locationX>297</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_UserId_one_by_one</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e6F000002cB5X</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UsersID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>System_Administrators_UserID</startElementReference>
    <variables>
        <name>FollowerDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntitySubscription__c</objectType>
    </variables>
    <variables>
        <name>MassFollow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntitySubscription__c</objectType>
    </variables>
    <variables>
        <name>ParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UsersID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
